<%= render 'shared/content_title', title: "Tickets" %>

<%= render 'filters' %>

<%= render 'tickets_list', tickets: @tickets %>

<div>
  <%= link_to "New Ticket", new_ticket_path, class: 'btn btn-success' %>
</div>